<h1><%= @meetup.name %> </h1>
<p><%= @meetup.location %> </p>
<p><%= @meetup.description %> </p>

<% if current_user != nil && !@already_member %>
  <form method="post" action="/join">
    <input type="hidden" name="user_id" value="<%= current_user.id %>">
    <input type="hidden" name="meetup_id" value="<%= @meetup.id %>">
    <input type="hidden" name="role" value="member">
    <input type="submit" value="Join this MeetUp">
  </form>
<% end %>

<% if current_user != nil && @already_member %>
<form method="post" action="/leave">
    <input type="hidden" name="user_id" value="<%= current_user.id %>">
    <input type="hidden" name="meetup_id" value="<%= @meetup.id %>">
    <input type="hidden" name="role" value="member">
    <input type="submit" value="Leave this MeetUp">
  </form>
<% end %>

<div class="members_list red">
  <h2> List of members </h2>
  <ul class="flexy-grid flexy-grid--three-up">
    <% @members_list.each do |member| %>
      <li>
        <div>
          <img class="avatar" src="<%= member[:avatar_url] %>"/><br>
          <span style="padding-left: 50px"><%= member[:username].capitalize %></span>
        </div>
      </li>
    <% end %>
  </ul>
</div>
